img.ValidateIcon 
{
    vertical-align:top;
    margin-top:2px;
}

div.ValidateTable
{
    width:100%;
    padding-bottom:20px;
}

div.ValidateTable A:link, 
div.ValidateTable A:visited, 
div.ValidateTable A:active
{
    color:Black;
    font-style:normal;
    text-decoration:none;
}

div.ValidateTable A:hover
{
    color:Blue;
    font-style:italic;
}

div.ValidateTable table
{
    border-width:1px;
    border-style:solid;
    border-color:#eaeaea;
    width:300px;
    color:black;
}

div.ValidateTable th
{
    padding-left:3px;
    padding-right:3px;
    background-color:#eaeaea;
    color:Black;
    font-weight:bold;
    text-align:left;
    width:300px;
}

div.ValidateTable td
{
    padding-left:3px;
    padding-right:3px;
    border-width:1px;
    border-bottom-style:dashed;
    border-color:#eaeaea;
    vertical-align:middle;
}

div.ValidateTable td img
{
    padding:1px;
    padding-right:10px;
    vertical-align:middle;
}

div.ValidateTable td.Last
{
    border-width:0px;
}

div.NavProgress img
{
    vertical-align:top;
}

input.Invalid
{
    /*background-color:#fffeb8;*/
}

input.ReadOnly
{
    background-color: #ececec;
    color:Black;
}

input.Yellow
{
    background-color:#ffff80;
}

input, textarea
{
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-size: 85%;
}

img.uROCheckBox {
    margin: .1em;
    margin-right: .3em;
}
